// Reduce left margin on main content
body {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

// Adjust for container margins
.site {
  max-width: 40%; /* Adjust this value to increase or decrease the width */
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 30px; /* Adjust the size as needed */
  position: absolute; /* Position the image absolutely */
  left: 0; /* Aligns the image with the left border */
  top: 50px; /* Adjust the top margin to control vertical placement */
  margin: 0; /* Removes default margin */
}

