// Reduce left margin on main content
body {
  margin-left: 0 !important;
  padding-left: 0 !important;
}

// Adjust for container margins
.site {
  max-width: 40%; /* Adjust this value to increase or decrease the width */
  margin-left: auto;
  margin-right: auto;
}

/* Style for images */
img {
  width: 30px; /* Adjust the width as needed */
  float: left;  /* Align the image to the left */
  margin-right: 15px; /* Optional: Adds space between the image and text */
  margin-bottom: 10px; /* Optional: Adds space below the image */
}
